* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}
.main {
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-inputs {
  background: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 20px 1px gray;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
input {
  width: 310px;
  padding: 10px;
}
input[type="submit"] {
  width: 335px;
  padding: 10px;
}
input[type="checkbox"] {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  cursor: pointer;
}
a.login-link {
  text-decoration: underline;
  background: transparent;
}
a.login-link:hover {
  text-decoration: underline;
  color: #8d8d8d;
  background: transparent;
}
.login-link {
  align-self: center;
}
.services {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 80px;
  flex-wrap: wrap;
}
